//iphone 4
@media only screen and (min-width: 320px) and (max-width: 568px) { 
    .flexbox_plate {width: 40vh; height: 40vh;}
    .plate {transform: translate(23vh, 4vh); width: 8vh; height: 8vh; margin: 0;}
    .plate_2 {transform: translate(30vh, 12vh); width: 8vh; height: 8vh; margin: 0;}
    .plate_3 {transform: translate(28vh, 23vh); width: 8vh; height: 8vh; margin: 0;}
    .plate_4 {transform: translate(20vh, 30vh); width: 8vh; height: 8vh; margin: 0;}
    .plate_5 {transform: translate(10vh, 29vh); width: 8vh; height: 8vh; margin: 0;}
    .plate_6 {transform: translate(3vh, 20vh); width: 8vh; height: 8vh; margin: 0;}
    .plate_7 {transform: translate(12vh, 3vh); width: 8vh; height: 8vh; margin: 0;}
    .plate_8 {transform: translate(3vh, 10vh); width: 8vh; height: 8vh; margin: 0;}
    .flexbox-buttons {flex-flow: row; width: 280px;}
    .flexbox-buttons_spoon {height: 24vw; flex: 1 1 0px;}
    .flexbox-buttons_fork {height: 24vw; flex: 1 1 0px;}
    .flexbox-buttons_knife {height: 24vw; flex: 1 1 0px;}
    .flexbox-buttons_start {height: 24vw; flex: 1 1 0px;}
    .flexbox-buttons_clean {height: 24vw; flex: 1 1 0px;}
    .flexbox-buttons_last {height: 24vw; flex: 1 1 0px;}
}

//iphone 6/7/8
@media only screen and (min-width: 375px) and (max-width: 667px) {
    .flexbox_plate {width: 40vh; height: 40vh;}
    .plate {transform: translate(23vh, 4vh); width: 8vh; height: 8vh;}
    .plate_2 {transform: translate(30vh, 12vh); width: 8vh; height: 8vh;}
    .plate_3 {transform: translate(28vh, 23vh); width: 8vh; height: 8vh;}
    .plate_4 {transform: translate(20vh, 30vh); width: 8vh; height: 8vh;}
    .plate_5 {transform: translate(10vh, 29vh); width: 8vh; height: 8vh;}
    .plate_6 {transform: translate(3vh, 20vh); width: 8vh; height: 8vh;}
    .plate_7 {transform: translate(12vh, 3vh); width: 8vh; height: 8vh;}
    .plate_8 {transform: translate(3vh, 10vh); width: 8vh; height: 8vh;}
    .flexbox-buttons {flex-flow: row; width: 335px;}
    .flexbox-buttons_spoon {height: 24vw; flex: 1 1 0px;}
    .flexbox-buttons_fork {height: 24vw; flex: 1 1 0px;}
    .flexbox-buttons_knife {height: 24vw; flex: 1 1 0px;}
    .flexbox-buttons_start {height: 24vw; flex: 1 1 0px;}
    .flexbox-buttons_clean {height: 24vw; flex: 1 1 0px;}
    .flexbox-buttons_last {height: 24vw; flex: 1 1 0px;}
}


// iphone 6/7/8 plus  
@media only screen and (min-width: 414px) and (max-width: 736px) { 
    .flexbox_plate {width: 40vh; height: 40vh;}
    .plate {transform: translate(23vh, 4vh); width: 8vh; height: 8vh;}
    .plate_2 {transform: translate(30vh, 12vh); width: 8vh; height: 8vh;}
    .plate_3 {transform: translate(28vh, 23vh); width: 8vh; height: 8vh;}
    .plate_4 {transform: translate(20vh, 30vh); width: 8vh; height: 8vh;} 
    .plate_5 {transform: translate(10vh, 29vh); width: 8vh; height: 8vh;}
    .plate_6 {transform: translate(3vh, 20vh); width: 8vh; height: 8vh;}
    .plate_7 {transform: translate(12vh, 3vh); width: 8vh; height: 8vh;}
    .plate_8 {transform: translate(3vh, 10vh); width: 8vh; height: 8vh;} 
    .flexbox-buttons {flex-flow: row; width: 373px;}
    .flexbox-buttons_spoon {height: 24vw; flex: 1 1 0px;}
    .flexbox-buttons_fork {height: 24vw; flex: 1 1 0px;}
    .flexbox-buttons_knife {height: 24vw; flex: 1 1 0px;}
    .flexbox-buttons_next {height: 24vw; flex: 1 1 0px;}
    .flexbox-buttons_start {height: 24vw; flex: 1 1 0px;}
    .flexbox-buttons_last {height: 24vw; flex: 1 1 0px;}
}

// //iphone x
@media only screen and (min-width: 375px) and (max-width: 812px) { 
    .flexbox_plate {width: 31vh; height: 31vh; border: 6vh solid var(--white);}
    .plate {transform: translate(19vh, 4vh); width: 6vh; height: 6vh;}
    .plate_2 {transform: translate(23vh, 11vh); width: 6vh; height: 6vh;}
    .plate_3 {transform: translate(21vh, 19vh); width: 6vh; height: 6vh;}
    .plate_4 {transform: translate(14vh, 23vh); width: 6vh; height: 6vh;} 
    .plate_5 {transform: translate(6vh, 21vh); width: 6vh; height: 6vh;}
    .plate_6 {transform: translate(2vh, 14vh); width: 6vh; height: 6vh;}
    .plate_7 {transform: translate(11vh, 2vh); width: 6vh; height: 6vh;}
    .plate_8 {transform: translate(4vh, 6vh); width: 6vh; height: 6vh;} 
    .flexbox-buttons {flex-flow: row; width: 335px;}
    .flexbox-buttons_spoon {height: 24vw; flex: 1 1 0px;}
    .flexbox-buttons_fork {height: 24vw; flex: 1 1 0px;}
    .flexbox-buttons_knife {height: 24vw; flex: 1 1 0px;}
    .flexbox-buttons_start {height: 24vw; flex: 1 1 0px;}
    .flexbox-buttons_clean {height: 24vw; flex: 1 1 0px;}
    .flexbox-buttons_last {height: 24vw; flex: 1 1 0px;}
} 

