:root {
    --white: #ffffff;
    --darkgrey: #3d3d3d;
    --lightgrey: #aaaaaa;
    --red: #A50000;
    --yellow: #E4BF0C;
    --mutegreen: #788B2A;
    --brightorange: #e08b1b;
    --brown: #8B572A;
    --purple: #7F0037;
    --blue: #2D736C;
    --buttonred: #e03b2f;
    --buttonchange: #ffa7a1;
    --maintext: 'Poppins', sans-serif;
}


